---
layout: archive
---
<!---
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].working_projects | default: "執行計畫" }}</h3>
<div class="list__item">
    <a href={% post_url 2017-07-20-科幻小說鍊成計畫 %}>
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
        <h2 class="archive__item-title" itemprop="headline"> 科幻小說鍊成計畫 </h2>
        <p class="archive__item-excerpt" itemprop="description"> 紀錄我用程式自動生成科幻小說的學習歷程。 </p>
    </article>
    </a>
</div>

<div class="list__item">
    <a href={% post_url 2017-07-24-短篇小說寫作計畫 %}>
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
        <h2 class="archive__item-title" itemprop="headline"> 短篇小說寫作計畫 </h2>
        <p class="archive__item-excerpt" itemprop="description"> 紀錄我用腦袋手動生成短篇小說的學習歷程。 </p>
    </article>
    </a>
</div>
--->

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
